@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.body-church {
  background-color: #ece0ca;
  border-radius: 20px;
}
.church {
  margin-left: 100px;
  margin-right: 100px;
}
.icon-church {
  text-align: center;
}
.icon-church svg {
  height: 50px;
}
.church-text {
  text-align: center;
  font-family: "Raleway", sursive;
}
.church-text h3 {
  margin: 10px;
  font-weight: 500;
}
.church-text h4 {
  font-family: "Raleway", sursive;
  font-weight: 800;
  text-decoration: underline;
}
.church-text-god {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 33px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.church-text-god h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 800;
}
.church-text-god h3 span {
  color: grey;
}
.church-text-location {
  text-align: center;
  font-family: "Raleway", sursive;
  font-size: 15px;
}
.church-text-location h3 {
  font-weight: 500;
}
.church-text-location h3 strong span {
  text-decoration: underline;
}
.maps-location {
  text-align: center;
}
.see-location {
  padding: 10px;
  margin-bottom: 50px;
  background-color: bisque;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(253, 197, 129);
}
.see-location a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.see-location:hover {
  background-color: rgb(253, 173, 75);
  transition: 0.5s;
}
@media (max-width: 500px) {
  .body-church {
    padding-bottom: 110px;
  }
  .church {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
  }
  .church-text h3 {
    margin: 10px;
    font-weight: 500;
    font-size: 13px;
  }
  .church-text h4 {
    margin: 10px;
    font-weight: 800;
    font-size: 10px;
    padding-bottom: 15px;
  }
  .church-text-god h3 {
    margin: 0;
    font-size: 30px;
  }
  .church-text-location {
    padding-top: 30px;
  }
  .church-text-location h3 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
  }
  .see-location a {
    font-size: 15px;
    font-weight: 500;
  }
}
