@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.icon-champagne-glasses svg {
  height: 50px;
}
.icon-champagne-glasses {
  text-align: center;
}
.body-party {
  background-color: #ece0ca;
  border-radius: 20px;
}
.party {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}
.party-text {
  text-align: center;
  font-family: "Raleway", cursive;
}
.party-text h3 {
  font-weight: 500;
}
.celebrate-with-us {
  margin-top: 80px;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.celebrate-with-us span {
  color: grey;
}
.party-text-ubication {
  text-align: center;
  font-family: "Raleway", cursive;
  font-size: 17.5px;
  margin-top: 100px;
}
.party-text-ubication h1 strong {
  text-decoration: underline;
}
.party-text-assist-confirmation {
  text-align: center;
  font-family: "Raleway", cursive;
}
.see-location-party {
  padding: 10px;
  background-color: burlywood;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(224, 145, 40);
  margin-top: 15px;
}
.see-location-party:hover {
  background-color: bisque;
  transition: 0.5s;
}
.see-location-party a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.assist {
  text-align: center;
}
.confirm-assist {
  padding: 10px;
  margin-bottom: 50px;
  background-color: bisque;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(253, 197, 129);
}
.confirm-assist a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.confirm-assist:hover {
  background-color: rgb(253, 173, 75);
  transition: 0.5s;
}
@media (max-width: 500px) {
  .body-party {
    padding-bottom: 35px;
  }
  .party-text {
    font-size: 13px;
  }
  .party-text h3 {
    font-weight: 400;
  }
  .celebrate-with-us {
    font-size: 33px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .party-text-ubication {
    text-align: center;
    font-family: "Raleway", cursive;
    font-size: 13px;
  }
  .see-location-party a {
    font-size: 15px;
  }
  .party-text-assist-confirmation h3 {
    font-size: 10px;
    font-weight: 500;
    margin-top: 130px;
  }
  .confirm-assist {
    padding: 5px;
  }
  .confirm-assist a {
    font-size: 15px;
  }
}
