@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.icon-champagne-glasses svg {
  height: 30px;
}
.icon-champagne-glasses {
  text-align: center;
}
.body-party {
  background-color: #ece0ca;
  border-radius: 20px;
}
.party {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.party-text {
  text-align: center;
  font-family: "Raleway", cursive;
}
.party-text h3 {
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 0.8;
}
.celebrate-with-us {
  margin-top: 80px;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: grey;
}
.celebrate-with-us h1 {
  font-size: 40px;
}
.celebrate-with-us span {
  color: grey;
}
.party-text-ubication {
  text-align: center;
  font-family: "Raleway", cursive;
  font-size: 17.5px;
  margin-top: 100px;
}
.party-text-ubication h1 strong {
  text-decoration: underline;
}
.party-text-assist-confirmation {
  text-align: center;
  font-family: "Raleway", cursive;
}
.see-location-party {
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(224, 145, 40);
  margin-top: 15px;
}
.see-location-party:hover {
  background-color: bisque;
  transition: 0.5s;
}
.see-location-party a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.assist {
  text-align: center;
}
.confirm-assist {
  padding: 10px;
  margin-bottom: 50px;
  background-color: bisque;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(253, 197, 129);
}
.confirm-assist a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.confirm-assist:hover {
  background-color: rgb(253, 173, 75);
  transition: 0.5s;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .body-party {
    padding-bottom: 250px;
  }
  .party {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
  }
  .party-text {
    font-size: 13px;
  }
  .party-text h3 {
    font-weight: 400;
  }
  .celebrate-with-us {
    margin-top: 40px;
  }
  .celebrate-with-us h1 {
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    color: grey;
  }
  .party-text-ubication {
    text-align: center;
    font-family: "Raleway", cursive;
    font-size: 13px;
    margin-top: 60px;
  }
  .party-text-ubication h1 {
    font-size: 13px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .see-location-party a {
    font-size: 10px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .party-text-assist-confirmation h3 {
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .confirm-assist {
    padding: 5px;
  }
  .confirm-assist a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 10px;
  }
}
