@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.body-music {
  background-color: #ece0ca;
  border-radius: 20px;
}
.icon-music svg {
  height: 50px;
}
.icon-music {
  text-align: center;
}
.music-text {
  margin-top: 70px;
  text-align: center;
  font-family: "Raleway", cursive;
}
.music-text h3 {
  font-size: 50px;
  padding: 0;
  margin: 20px;
}
.add-song {
  padding-bottom: 150px;
}
@media (max-width: 500px) {
  .body-music {
    padding-bottom: 303px;
  }
  .music {
    margin-left: 50px;
    margin-right: 50px;
  }
  .icon-music {
    margin-top: 30px;
  }
  .music-text h3 {
    font-size: 23px;
    margin: 0;
  }
  .music-text {
    font-size: 13px;
  }
}
