@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.body-music {
  background-color: #ece0ca;
  border-radius: 20px;
  padding-bottom: 50px;
}
.icon-music svg {
  height: 30px;
}
.icon-music {
  text-align: center;
}
.music-text {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.music-text h3 {
  font-size: 30px;
  padding: 0;
  margin: 20px;
  line-height: 0.8;
}
.music-text h1 {
  line-height: 1.5;
}
.spotify {
  text-align: center;
}
.spotify iframe {
  margin-top: -30px;
  border-style: none;
  width: 80%;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .body-music {
    padding-bottom: 85px;
  }
  .music {
    margin-left: 50px;
    margin-right: 50px;
  }
  .icon-music {
    margin-top: 80px;
  }
  .icon-music svg {
    height: 25px;
  }
  .music-text h1 {
    font-size: 15px;
    line-height: 1.5;
  }
  .music-text h3 {
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
  }
  .music-text {
    font-size: 13px;
  }
  .spotify iframe {
    height: 400px;
    width: 100%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  .icon-music svg {
    margin-top: 20px;
  }
  .body-music {
    padding-bottom: 135px;
  }
}
