@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
.logo-navbar {
  text-align: center;
}
.logo-navbar img {
  height: 70px;
}
.close {
  display: none;
}
.navegation-presentation {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0;
  margin-top: 0;
}
.navegation-presentation li {
  padding: 20px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.navegation-presentation li a {
  color: white;
  text-decoration: none;
}
.navegation-presentation li .active {
  color: brown;
}
.separation-nav-bar {
  padding: 10px;
}
.menu-mobile-open {
  display: none;
}
.menu-mobile-close {
  display: none;
}
.menu-icon {
  display: none;
}

@media ((min-width: 350px) and (max-width: 500px)) {
  .menu-mobile-open {
    display: block;
    position: fixed;
    background-color: bisque;
    height: 100%;
    padding-top: 50px;
    margin-top: 0;
  }
  .menu-mobile-open li {
    list-style: none;
    padding: 20px;
    margin-top: 10px;
  }
  .menu-mobile-open li a {
    text-decoration: none;
    color: black;
  }

  .menu-mobile-close {
    display: none;
  }
  .menu-icon {
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-icon svg {
    height: 30px;
    margin-top: 30px;
  }
  .menu-icon .animation-active {
    animation: moveRight 1s linear forwards;
  }
  .navegation-presentation {
    display: none;
  }
  .logo-navbar {
    text-align: center;
  }
  .logo-navbar img {
    height: 70px;
    position: absolute;
    left: 23%;
  }
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1000%);
    }
  }
}
/* @media (max-width: 400px) {
  .menu-icon .animation-active {
    animation: moveRight 1s linear forwards;
  }
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20%);
    }
  }
} */
