@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
.logo-navbar {
  text-align: center;
}
.logo-navbar img {
  height: 70px;
}
.navegation-presentation {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0;
  margin-top: 0;
}
.navegation-presentation li {
  padding: 20px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.navegation-presentation li a {
  color: white;
  text-decoration: none;
}
.navegation-presentation li .active {
  color: brown;
}
.separation-nav-bar {
  padding: 10px;
}
@media (max-width: 500px) {
  .navegation-presentation {
    display: flex;
    margin: 0;
  }
  .navegation-presentation li {
    padding: 3px;
    font-size: 9px;
    font-family: "Raleway", cursive;
    font-weight: 400;

  }
  .logo-navbar {
    text-align: center;
  }
  .logo-navbar img {
    height: 70px;
  }
}
