@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
.body-presentation {
  position: relative;
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1699829558/foto-recortada_t044iu.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.body-presentation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Cambia el valor de '0.5' para ajustar la opacidad */
  border-radius: 20px;
  z-index: 1; /* Coloca este pseudo-elemento detrás del contenido */
}
.presentation-text {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 400px;
}
.nav-bar {
  position: relative;
  z-index: 2;
}
.nav-bar span {
  color: white;
}
.presentation-text h1 {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 110px;
  color: white;
  margin: 0;
  font-weight: 500;
  position: absolute;
  left: 22%;
  top: 18%;
  z-index: 2;
}
@media (max-width: 500px) {
  .body-presentation {
    background-position: center center;
  }
  .presentation-text {
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 725px;
  }
  .presentation-text h1 {
    margin-bottom: 0;
    font-size: 50px;
    margin-right: 70px;
    line-height: 0.7;
  }
}
@media only screen and ((min-width: 501px) and (max-width: 850px)) {
  .body-presentation {
    padding-right: 10px;
    padding-bottom: 600px;
  }
}
