@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
.body-presentation {
  position: relative;
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1700322196/IMG_4784_mxtffo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-position: center center;
  padding-bottom: 155px;
}
.body-presentation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  z-index: 1;
}
.presentation-text {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 400px;
}
.nav-bar {
  position: relative;
  z-index: 2;
}
.nav-bar span {
  color: white;
}
.presentation-text h1 {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 110px;
  color: white;
  margin: 0;
  font-weight: 500;
  position: absolute;
  left: 27%;
  top: 13%;
  z-index: 1;
}
@media (max-width: 500px) {
  .body-presentation {
    position: relative;
    background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1700335376/portada_boda_fibx3d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .body-presentation {
    background-position: center center;
  }
  .presentation-text {
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 725px;
  }
  .presentation-text h1 {
    margin-bottom: 0;
    font-size: 50px;
    margin-right: 70px;
    line-height: 0.7;
  }
}
@media only screen and ((min-width: 501px) and (max-width: 850px)) {
  .body-presentation {
    padding-right: 10px;
    padding-bottom: 600px;
  }
}
