body {
  padding: 0;
  margin: 0;
  /* background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1691688364/IMG_20200517_163007387_2_g5jgur.jpg"); */
  background-position: center;
  background-size: contain;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del body */
}
